
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>

    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>

<form action="/login/" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputName2">用户名</label>
    <input type="text"  id="exampleInputName2" placeholder="username" name="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password"  id="exampleInputPassword1" placeholder="Password" name="password">
  </div>

  <input type="submit" class="btn btn-default">
</form>

<script src="/static/js/jquery-3.3.1.min.js"></script>

{#<script>#}
{##}
{#    $("#btn").click(function () {#}
{#        var user = $("#username").val();#}
{#        var pwd = $("#password").val();#}
{##}
{#       $.ajax({#}
{#           url:"/login/",#}
{#           type:"POST",#}
{#           data:{#}
{#               user:user,#}
{#               pwd:pwd,#}
{#               csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),#}
{##}
{#           },#}
{##}
{#           success:function (response) {#}
{##}
{#               console.log(response);#}
{#               var data = JSON.parse(response);#}
{#               console.log(data.user);#}
{#               if (data.user){#}
{#                    location.href="/index/"#}
{#                   //登录成功#}
{#               }else {#}
{#                   //登录失败#}
{#                   $(".errors").html(data.error).css('color','red')#}
{##}
{#               }#}
{##}
{#           }#}
{##}
{##}
{#       })#}
{##}
{##}
{#    })#}
{##}
{#</script>#}



</body>
</html>